@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  70% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-brand {
  background: #C44B4F;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
}

.dynamic-line {
  height: 5px;
  background: linear-gradient(-65deg, #4e2a81, #9fdb8f, #7dd4f1, #ec8181);
  background-size: 400% 500%;
  animation: gradient 10s ease infinite;

  margin: 0;
  width: 100%;

  color: rgb(0, 0, 0);
  font-family: "Cantarell Light";
}

body{
  background: hsl(0, 0%, 47%);
}

.main {
  /* border-style: solid; */
  border-color: black;
  height: ;
}



.pic {
  border-radius: 2em;
  width: 80%;
  margin: auto;
}

.col {
  text-align: center;
}

.accordion {
  margin: 2% auto;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
